<div class="container-fluid" id="addModal">
    <div class="form-inline">
      <input type="text" class="form-control input-green" ng-model="contentParams.url" placeholder="URL">
      <span class="pull-right add-row">
        <select name="" id="addType" class="form-control select-green" ng-model="contentParams.type" ng-init="contentParams.type='article'">
            <option value="article">Article</option>
        </select>
        <button class="btn btn-default btn-green" ng-click="addContent()">Add</button>
    </span>
    </div>

   <div class="article-preview">
      <h2> {{ contentPreview.title }} </h2>
      <img ng-src="{{ contentPreview.image }}" class="story-image">
      <p>{{ contentPreview.text }}</p>
   </div>

</div>
