<div ng-controller="ArticlesController as articles">

	<div class="stream-article panel panel-green" ng-repeat="article in articles" ng-hide="hideArticle">
        <a target="_blank" href="{{ article.url }}"><h3>{{ article.title }}</h3></a>
		<img ng-src="{{ article.imageThumb }}" class="stream-article-image">
		{{ article.text | limitTo: 280 }} ...
		<div class="share-links">
			<div class="form-group">
				<button class="btn btn-default btn-xs">Link</button>
				<button class="btn btn-default btn-xs" ng-click="deleteArticle( article._id ); hideArticle=true">Delete</button>
			</div>
		</div>
		<div class="clearfix"></div>
    </div>

</div>
