<div ng-controller="ArticlesController as articles">
<!-- 
	<div ui-scroll="item in datasource">

		{{ item }}

	</div> -->

	<div infinite-scroll="articles.loadMore('read')">

		<div class="stream-article panel panel-green" ng-repeat="article in articles.items" ng-hide="hideArticle">
	        
			<img ng-src="{{ article.imageThumb }}" class="stream-article-image">
			<a target="_blank" href="{{ article.url }}"><h2>{{ article.title }}</h2></a>
			<p class="article-snippet">{{ article.text | limitTo: 390 }}... </p>

			<div class="share-links">
				<div class="form-group">
			
					<button class="btn btn-default btn-xs no-border" popover="Right-click and select copy link" popover-trigger="mouseenter" popover-placement="bottom"><a href="{{ article.url }}">Link</a></button>
					

					<button class="btn btn-default btn-xs no-border btn-delete" ng-click="deleteItem( 'read', article._id ); hideArticle=true">X</button>

				</div>
			</div>
			<div class="clearfix"></div>
	    </div>

		<div class="loading" ng-show="articles.busy">Loading...</div>

	</div>

</div>
