<div ng-controller="ListenController as songs" class="list-container">
	
	<div class="content-list">
	
		<div infinite-scroll="songs.loadMore( 'listen', 3 )" infinite-scroll-immediate-check="true" infinite-scroll-disabled="busy">
	
			<div class="panel listen-panel" ng-repeat="song in songs.items" ng-hide=" hideItem ">
				<h2>
					<a ng-href="{{ song.url }}">{{ song.title }}</h2>
				</a>
					
				<div iframely url="{{song.url}}" class="listen-iframe"></div>

				<div class="meta-text">
					{{ song.added * 1000 | timeAgo }}
				</div>

				<div class="share-links">
					<span class="dropdown user-menu">
					  <button class="btn dropdown-toggle no-border" type="button" id="item-options" data-toggle="dropdown" aria-expanded="true">
					    <span class="glyphicon glyphicon-option-horizontal"></span>
					    <span class="sr-only">
							Toggle Item Options Menu
						</span>
					  </button>
					  
					  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="item-options">
					    <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="deleteItem( 'listen', song._id ); hideItem=true">Delete</a></li>
					  </ul>
					</span>

					<button class="btn btn-default btn-xs no-border" popover="Right-click and select copy link" popover-trigger="mouseenter" popover-placement="bottom">
						<a href="{{ song.url }}"><span class="glyphicon glyphicon-share-alt"></span></a>
					</button>
				</div>

			</div>

		</div>

	</div>

</div>