<div class="panel login-panel col-md-6">
	
	<h2 class="text-center dark-text">Login</h2><br />

	<div class="form-group">

		<label for="loginUsername" class="dark-text">Username</label>
		<input type="text" class="username input-green form-control input-font-lg" id="loginUsername" ng-model="user.username">

	</div>

	<div class="form-group">

		<label for="loginPassword" class="dark-text">Password</label>
		<input type="password" class="username input-green form-control input-font-lg" id="loginPassword" ng-model="user.password" />

	</div>

	<button class="btn btn-green-solid btn-block btn-lg btn-font-light" ng-click="login()">Sign in</button> <br /> 

	<div class="pull-right login-meta-links">
		<ul>
			<li><a ui-sref="landing.register" class="underline">Register </a></li>
			<li><a ui-sref="landing.reset" class="underline"> Forgot password?</a></li>
		</ul>
	</div>

</div>