<div class="panel registration-panel">
	<h3>Register</h3><br/>
	<div class="form-group">
		<label for="regUsername">Username</label>
		<input type="text" class="username form-control input-white" id="regUsername" ng-model="reg.username">
	</div>
	<div class="form-group">
		<label for="regEmail">Email</label>
		<input type="email" class="email form-control input-white" id="regEmail" ng-model="reg.email">
	</div>
	<div class="form-group">
		<label for="regPassword">Password</label>
		<input type="password" class="username form-control input-white" id="regPassword" ng-model="reg.password">
	</div>
	<button class="btn btn-white btn-block" ng-click="register()">Register</button>
</div>