<div ng-controller="WatchController as videos" class="list-container">

	<div class="content-list">

		<div infinite-scroll="videos.loadMore( 'watch', 2)" infinite-scroll-immediate-check="true">
		
			<div class="panel video-panel" ng-repeat="video in videos.items" ng-hide="hideItem">
				<h2>{{ video.title }}</h2>
				
<!-- 				<div class="video-iframe col-md-12">
					<iframe width="100%" height="100%" ng-src="{{ 'https://www.youtube.com/embed/' + video.videoId }}" frameborder="0" allowfullscreen></iframe>
				</div> -->

				<div class="video-iframe" iframely url="{{ video.url }}"></div>

				<div class="video-description">
					{{ video.description | limitTo: 200 }}
				</div>

				<div class="date-added-ago pull-left meta-text">
					{{ video.added * 1000 | timeAgo }}
				</div>

				<div class="share-links">
					<span class="dropdown user-menu">
					  <button class="btn dropdown-toggle no-border" type="button" id="item-options" data-toggle="dropdown" aria-expanded="true">
					    <span class="glyphicon glyphicon-option-horizontal"></span>
					    <span class="sr-only">
							Toggle Item Options Menu
						</span>
					  </button>
					  
					  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="item-options">
					    <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="deleteItem( 'watch', video._id ); hideArticle=true">Delete</a></li>
					  </ul>
					</span>

					<button class="btn btn-default btn-xs no-border" popover="Right-click and select copy link" popover-trigger="mouseenter" popover-placement="bottom">
						<a href="{{ video.url }}"><span class="glyphicon glyphicon-share-alt"></span></a>
					</button>
				</div>
				
				<div class="clearfix"></div>
			</div>

		</div>

	</div>

</div>