@import "bourbon/bourbon";

@font-face {
	font-family: 'FanwoodText';
	src: url('../fonts/FanwoodText-Regular.ttf');
}

@font-face {
	font-family: 'Domine';
	src: url('../fonts/Domine-Regular.ttf');
}

@font-face {
	font-family: 'Oxygen';
	src: url('../fonts/Oxygen-Regular.ttf');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'Oxygen';
	src: url('../fonts/Oxygen-Light.ttf');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'Oxygen';
	src: url('../fonts/Oxygen-Bold.ttf');
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'BrandIcons';
	src: url('../fonts/brandico.woff');
	font-style: normal;
}

$green: #5CD298;
$green-grey: #212321;
$light-green: #90e5c6;
$red: #E44A39;
$orange: #FF7E32;
$grey: #C5C5C5;
$sidebar-background: #414159;

$highlight: white;
$darkbase: $green;

$body-font: Oxygen;
$headline-font: Oxygen;
$snippet-font: Oxygen;
$content-font: Domine;

$list-border: #E9E9E9;

$dark-text: #5B5A5A;

.cursor-pointer { cursor: pointer !important; }

// containers and wrappers

.wide { width:100%; background-image: url('../images/splash-background.jpeg'); background-size:cover; }

body.app { background-color: #F2F1F1; font-family: $body-font; 
	#logo { height: 30px; opacity: 0.5; 
		&:hover { opacity: 1; @include transition ( opacity 100ms ease-in-out ); } } }

body.landing { background-color: white; font-family: $body-font; 
	#logo { opacity: 1 !important; } 
	.navbar-header { float: left; margin-left: 5px; } }

.login-wrapper { width: 100%; height: 100%; background: $green; padding-top: 250px; }

.login-panel { margin: 0 auto; float: none; color: white; }

.registration-panel { color: white; float: none;  }

.landing-container { width: 700px; }

.container.splash-row-1 { background: transparent; }

.container.splash-row-1 { background: transparent; }

// #viewport { height: 400px; }

/* bootstrap edits */

*:focus { outline: none !important; }

h1, h2 { font-weight: 300; color: $green; margin-top: 0; }

h3, h4, h5 { font-weight: 700; color: $green; }

h2 { margin-top: 0; }

a { color: $green;
	&:hover { color: $green; text-decoration: none; } 
	&.underline { text-decoration: underline; } }

.panel { background: transparent; border-color: white; padding: 20px; box-shadow: none; }

.panel-green { background: transparent; border-color: $green; padding: 20px; }

.panel-user {
	.btn-active { background: $green; color: white !important;
		span { color: white; }
		&:active { color: white; }
		&:hover { background: $green; color: white; } }
	.btn-inactive { background: white; color: $green; border-color: $green;
		span { color: $green;}
		&:active { color: white; }
		&:hover { background: white; color: $green; } } }

.btn-white { background: transparent; border-color: white; color: white; box-shadow: none; text-decoration: none;
	&:hover { background: white; border-color: white; color: $green; box-shadow: none; text-decoration: none; } }

.btn { font-weight: 700; 
	&:hover { background-position: none; } }

.btn-highlight { background: transparent; border-color: $highlight; color: $highlight; box-shadow: none; text-decoration: none;
	&:hover { background: $highlight; color: $darkbase; box-shadow: none; text-decoration: none; } }

.btn-green { background: transparent; border: solid 2px $green; color: $green; box-shadow: none; text-decoration: none;
	&:hover { background: $green; border-color: $green; color: white; box-shadow: none; text-decoration: none; } 
	&.no-border { 
		&:hover, &:active { color: $green; background: transparent; } } }

.btn-light-green { background: transparent; border: solid 2px $light-green; color: $light-green; box-shadow: none; text-decoration: none;
	&:hover { background: $light-green; border-color: $light-green; color: $light-green; box-shadow: none; text-decoration: none; } 
	&.no-border { 
		&:hover, &:active { color: $light-green; background: transparent; } } }

.btn-grey { background: transparent; border: solid 2px $grey; color: $grey; box-shadow: none; text-decoration: none;
	&:hover { background: $grey; border-color: $grey; color: white; box-shadow: none; text-decoration: none; } 
	&.no-border { 
		&:hover, &:active { color: $grey; background: transparent; } } }

.btn-grey { background: transparent; border: solid 2px $grey; color: $grey; box-shadow: none; text-decoration: none;
	&:hover { background: $grey; border-color: $grey; color: $grey; box-shadow: none; text-decoration: none; } 
	&.no-border { 
		&:hover, &:active { color: $grey; } } }

.btn-green-solid { background: $green; color: white;
	&:active { color: white; }
	&:hover { background: $green; color: white; } }

.btn-white-solid { background: white; color: $green;
	span { color: $green;}
	&:active { color: white; }
	&:hover { background: white; color: $green; } }

.btn-group-thick { 
	&:nth-child(2) { border-width: 3px; border-color: red; }
	.btn { border-width: 3px 0 3px 3px; }
	.btn-group:last-child { 
		.btn { border-width: 3px; } } }

.btn-xlg { padding: 16 21 16 21; font-size: 23px; }

.btn-font-light { font-weight: 300; }

.btn-back { position: absolute; top: -125px; }

.add-button { font-size: 20; position: relative; display: block; height: 20px; width: 20px; border: 3px solid $green; border-radius: 5px; background: transparent; font-weight: 700;
		& span { position: absolute; top: 7px; padding: 0; left: 2.5px; line-height: 0; font-size: 20; color: $green; } 
		&.add-button-sm { font-size: 13px; border-width: 2px; padding: 0px 6.5px; } }

.font-sans-serif { font-family: $body-font; }

.input-white { background: transparent; border-color: white; color: white;
	&:focus { box-shadow: none; border-color: white; outline: none; } }

.input-green { background: transparent; border: 2px solid $green; color: $dark-text;
	&::-webkit-input-placeholder { color: $dark-text; }
	&:focus { box-shadow: none; border-color: $green; outline: none; }
	&.ng-invalid { border: 2px solid $red; } }

 .select-green { background: url('../images/carrot-green.png') no-repeat right !important; border: solid 1px #00E0AA; -webkit-appearance: none; color:  $green; }

.input-font-lg { font-size: 19px; padding: 0px 15px; height: 64px; }

.form-control:focus { box-shadow: none; border-color: $green; outline : none; }

.icon-lg { vertical-align: middle; 
	&:before { font-size: 30px; } }

.icon-lg + span { vertical-align: middle !important;  }

.dropdown-menu { box-shadow: none; }

.fixed { position: fixed; }

.feedback-btn-gray { font-family: $body-font; background: white; }

.feedback-btn { box-shadow: none !important; color: #852C20; }

.dropdown-menu { 
	li { border-bottom: 1px solid $list-border ;
		&:last-child { border-bottom: none; }
		a { text-align: left; color: $dark-text;
			.glyphicon { font-size: 14px; } } } }

// new classes

.text-white { color: white !important; }

.text-grey { color: $grey !important; }

.img-white { @include filter( brightness( 2 ) ); }

.button-follow { border: solid 2px $green; box-shadow: none; text-decoration: none;
	&:hover { box-shadow: none; text-decoration: none; } }

.a-underlined { text-decoration: underline; }

.no-border { border: none !important; background: none; box-shadow: none !important;
	&:hover, &:active { border: none; background: none; box-shadow: none; } }

.text-green { color: $green; }

.dark-text { color: $dark-text !important; }

.glyphicon-green { color: $green; 
	&:hover { color: $green; } }

.glyphicon-grey { color: $grey; 
	&:hover { color: $grey; } }

.spinner { padding: 15px; clear: both; }

.btn-x { font-size: 24px; font-family: Oxygen; font-weight: 300;
	img { width: 50%; height: auto; } }

.add-form { margin-top: 20px; }

.login-meta-links { color: $dark-text;
	a { text-decoration: underline; }
	ul { 
	li { display: inline; }
	li:first-child { list-style-type: none; }
	li:nth-child(2):before { content:'\2022'; margin: 3px; margin-right: 7px; } } }

.container-stream { margin-top: 135px; }

.panel-profile { position: relative; }

.no-padding { padding-left: 0; padding-right: 0; }

.input-line { border-width: 0 0 2px 0; border-radius: 0; box-shadow: none; 
	&.ng-invalid { border-width: 0 0 2px 0; } }

.navbar-center { position: absolute; left: 50%; margin-left: -122px; margin-top: 3px; }

a.navbar-height-fix { padding: 11 15 0 15 !important; }

.icon-admin { font-size: 16px; vertical-align: top; margin-left: 5px; }



/* Brand icons, for logos. */

.icon-logo { font-family: 'BrandIcons'; }

.icon-twitter:before { content: "\F303"; }

.icon-facebook:before { content: "\F300"; }

/* Fixes some icons being stacked in drop-downs. */

.dropdown-menu > li > a > .glyphicon, .dropdown-menu-right li a .icon-logo { display: inline-block; }

.containter-navbar-btn-left { padding-left: 100px;  }

/* Add (re-stream) button in stream post items. */

.add-container { box-sizing: border-box;
	&:hover { background: transparent; }
	&:hover > a, &:hover > a:visited, a:visited { color: $green; } 
	a { padding: 7px; }
	.add-button { font-size: 24px; font-weight: 700; padding: 5px 8px; border: 3px solid $green; border-radius: 5px; line-height: 20px; } 
	.add-button.add-button-sm { font-size: 13px; border-width: 2px; padding: 0px 6.5px; } }

.button-stream-item-top { position: absolute; top: 0; right: 15px; }

// admin

.key-used { text-decoration: line-through; color: red; }

.container-existing-keys { height: 250px; overflow-x: scroll; }

.container-navbar { margin-top: 7px; }

// navigation

.navbar-header { display: inline !important; } 

#header { white-space: no-wrap;
	.first-initial { color: white; background: #D4D4D5; border-radius: 50%; width: 30px; height: 30px; display: inline-block; line-height: 25px; vertical-align: middle; }
	.navbar-brand { padding-top: 10px;
		span { float: right; vertical-align: middle; line-height: 32px; font-style: italic; font-weight: 300; padding-left: 5px; }
		#logo { height: 30px; float: left; } }

	/* Search stuff */

	.navbar-container-search { padding-top: 10px; 
		& > input#button-search { visibility: hidden; position: absolute; }
		#button-search + label + input.navbar-search { width: 0px; display: none; @include transition ( width 100ms ease-in-out ); }
		#button-search + label > .mag-glass { opacity: 0.5; @include transition ( width 100ms ease-in-out ); }
		#button-search:checked + label + input.navbar-search { display: initial; width: 244px; @include transition ( width 100ms ease-in-out ); }
		#button-search:checked + label > .mag-glass { opacity: 1; @include transition ( opacity 100ms ease-in-out ); } }

	/* Mode dropdown */

	.navbar-container-dropdown { width: 244px;
		a { padding: 5px 0 0 0; height: 28px; color: #80E1B9; font-weight: 500; font-size: 19px; }
		button .glyphicon-chevron-down { padding-top: 5px; }
		.btn-light-green { text-align: left; font-weight: 100; color: $light-green; }
		.img-binoculars { height: 30px; width: auto; margin-left: -12.5px; }
		.dropdown-menu { overflow: hidden; }
		.dropdown-toggle { color: white; 
			.img-binoculars { @include filter( brightness( 3 ) ); } }
		.dropdown-menu li, .dropdown-toggle span { border: none; cursor: pointer; font-size: 20px; }
		.dropdown-menu li { padding: 10px; }
		.dropdown-menu { width: 244px; background: $green; color: $light-green; border: none; 
			li a:hover { background: transparent; } } }

	/* Sidebar */

	#sidebar-wrapper { position: fixed; top: 0; bottom: 0; left: 0; z-index: 1000; width: 225px; background-color: $sidebar-background; @include transition ( all 200ms ease-in-out ); opacity: 0.975; visibility: visible; white-space: nowrap;
		#logo { @include filter( brightness(3) ); opacity: 1; display: inline-block; }
		.footer { position: absolute; bottom: 15px; opacity: 0.5; font-size: 20px; display: inline-block;
			a { display: block; text-decoration: none; color: white; } 
			.glyphicon { padding: 2.5px; } }
		&.sidebar-hidden { top: 0; bottom: 0; left: -225px; z-index: 1000; @include transition ( all 200ms ease-in-out ); opacity: 0; visibility: hidden; }
		.btn-x img { @include filter( brightness(3) ); }
		.sidebar-nav { position: absolute; top: 0; width: 100%; margin: 0; padding: 0; list-style: none; }
		.sidebar-nav li { font-size: 20px; vertical-align: middle; margin-bottom: 15px;
			&:hover { background: transparent; }
			div { display: inline-block; } 
			.glyphicon { padding: 2.5px; } }
		.sidebar-nav li a { display: block; text-decoration: none; color: white; cursor: pointer; }
		.sidebar-nav li a:hover { text-decoration: none; color: white; }
		.sidebar-nav li a:active, .sidebar-nav li a:focus { text-decoration: none; }
		.sidebar-nav > .sidebar-brand { height: 65px; font-size: 18px; }
		.sidebar-nav > .sidebar-brand a:hover { color: #fff; background: none; } }

	#nav-row-1 { margin-bottom: 28px; background-color: $darkbase; box-shadow: 0px 5px 5px #D3D2D2; z-index: 1000; 
		.dropdown-menu { z-index: 1000; } } 
	#nav-row-2 { padding-top: 5px; box-sizing: border-box; background: transparent; border: none; z-index: 900; margin-top: 60px; } }

.content-toggle { width: 756px; background: white; border-radius: 10px; box-shadow: 0px 5px 5px 2px rgba( 255, 255, 255, 0.3); opacity: 0.98;
	.btn-green { 
		&:hover { color: white; } }
	.btn { height: 58px; position: relative; border-radius: 10px;
		.text-toggle { vertical-align: bottom;  }
		.glyphicon { margin-right: 25px; font-size: 22px; vertical-align: middle; } } }

.navbar-white { background-color: transparent;  
	ul li {
		&:hover > a { background: white; }
		&:hover > a {  color: $green; background: transparent; } } }

.navbar-green { background-color: transparent; background-image: none; border-radius: 0; border: none;
	.btn-xs { margin-top: 6px; }
	.btn-inactive { background: $green; color: white;
		&:active { color: white; }
		&:hover { background: $green; color: white; } }
	.btn-active { background: white; color: $green;
		span { color: $green;}
		&:active { color: white; }
		&:hover { background: white; border: red 1px solid;
			& > span {  color: red; } } }
	.add-container { 
		&:hover > a, &:hover > a:visited, a:visited { color: white; } 
		a { padding: 7px; }
		.add-button { font-size: 24px; padding: 5px 8px; border: 3px solid white; height: auto; width: auto; } }
	.navbar-brand { color: white;
		&:hover { color: white; } }
	.user-menu-button { padding: 12px 15px;
		.btn, .btn:hover { color: $highlight; } }
	.user-menu a{ color: $green; 
		&:visited { color: $green; } 
		&:hover { background-color: $green; color: white; } }
	ul li {
		&:hover { background: $darkbase; }
		&:hover > a:visited, &:hover > a { color: white; } } }

.wrapper { min-height: 100%; position: relative; }

footer { bottom: 0; position: absolute; height: 25px; }

// modals

.modal-cover { position: absolute; top: -15px; left: 0px; height: 100%; width: 100%; z-index: 5000; }

.modal-email { 
	h1 { padding-bottom: 30px; font-size: 30px; }
	.btn-x { position: absolute; top: 10; right: -13px; }
	.btn-add-more { float: left; margin-right: 8px;
		&> span { font-weight: 700; } } 
	.btn-share { margin-top: -36px; }
	.modal-content { box-shadow: none; background: rgba( 255, 255, 255, .98); } }

.add-modal { background-color: rgba( 41, 41, 59, 0.70);
	.done-button { margin: 0; padding: 0; position: absolute; right: 0; bottom: 0; }
	.modal-dialog { width: 625px; }
	.modal-content { box-shadow: none; background: rgba( 255, 255, 255, .98);  } }

#addModal { margin-top: 15px; margin-bottom: 15px; position: relative;
	.btn-x { position: absolute; top: -10px; right: -13px; }
	.add-form { padding: 0; margin: 0; 
		.add-form-text { padding: 0 } 
		.add-form-toggle { padding: 0; margin: 0;
			.add-form-toggle-buttons { min-width: 100px; border: none; box-shadow: none; padding: 0; margin: 7px 0; background: transparent; } } }
	.type-toggle.btn-green { border: 2px solid $green; font-size: 18px; padding: 2px 20px 3px 20px;
		& > input { visibility: hidden; position: absolute; }
		& > input + span { color: $green; }
		& > input:checked + span { color: $highlight; }
		& > input:checked:hover + span { color: $highlight; } }
	.type-toggle.btn-grey { border: 2px solid $grey; font-size: 18px; padding: 2px 20px 3px 20px;
		& > input { visibility: hidden; position: absolute; }
		& > input + span { color: $grey; }
		& > input:checked + span { color: $highlight; }
		& > input:checked:hover + span { color: $highlight; } }
	.toggle-private { 
		& > input { display: none; } }
	.article-preview { padding-top: 20px;
		.preview-text { padding: 0; margin: 0; 
			h4 { margin: 0; padding: 0; } }
		.preview-thumbnail { width: 150px; float: left; margin: 3px 15px 15px 0; } } 
	.add-row-bottom { padding: 0 !important; } }

// reader modal

.reader-modal { background: rgba( 255, 255, 255, 0.99 ); font-family: $content-font; 
	.modal-logo { position: fixed; top: -25px; left: -275px; width: 200px; }
	.modal-dialog { float: none; width: 50%; max-width: 700px; }
	.reader-container { padding-top: 37px; overflow: scroll; height: 100%; }
	.watch-iframe { max-height: 428px; padding: 0; margin: 15px 0; }
	#item-options { margin: 10px 0; padding: 0; }
	p { font-size: 16px; margin: 17px 0; }
	img { clear: both; max-width: 100%; height: auto; margin: 0 auto; display: block; }
	.modal-content { height: 90%; border: 0; box-shadow: 0px 0px 20px 20px white; }
	.share-links { position: fixed; top: -15px; right: -150; z-index: 100;
		.btn-x { margin-bottom: 40px; }
		.menu-share { margin-left: 8px;
			.glyphicon { color: $green; } } } }

/* landing */

body.single { 
	#header { margin-top: -20px; margin-bottom: 30px; }
	.reader-container { margin-bottom: 30px; } }

body.splash { font-family: $body-font; background-size: cover; background-attachment: fixed;
	.splash-section { padding-bottom: 45px; padding-top: 45px; }
	h1 { font-weight: 100 }
	.jumbotron.landing-jumbotron { padding: 25% 20px 20px 20px; background: transparent; 
		.input-font-lg { padding: 10px 16px; font-size: 18px; line-height: 24px; vertical-align: middle; height: initial; }
		h1.splash-hero-text { margin-bottom: 30px; margin-top: 15px; }
		h1, a, input::-webkit-input-placeholder { color: white; } }
	.splash-manifesto-container { background-color: #433F5A;
		.manifesto-definition { color: white; font-family: FanwoodText; padding: 45px 0; }
		.footer { color: white; } }
	// Jason's great CSS
	.splash-hero p { margin-bottom: 60px }
	.btn-xlg { padding: 16 50; font-size: 23; font-weight: 400; }
	.hero-image-streams { padding-bottom: 60; max-width: 100%; height: auto; }
	.hero-image-discover { padding-bottom: 60; max-width: 100%; height: auto; }
	.btn-manifesto { font-size: 18; font-weight: 400; margin-top: 70; padding: 30px 50px; }
	footer { display: none; } }
	
	/* Mobile */

	@media only screen and (max-width : 480px) {
		.splash-cta-left { padding: 0px; }
	}

.splash-row-2 { background-color: white;
	h1 { color: $green; }
	h1.splash-cta-left { display: inline; color: $dark-text; vertical-align: middle; padding-right: 30px; }
	form.form-waitlist { display: inline; }
	.cta-green { 
		* { border-color: $green; color: $green; } }
	 }

// content

.share-links { position: absolute; bottom: 0; right: 15px; display: block; 
	.glyphicon { font-size: 20px; } }

.menu-share { 
	.dropdown-menu { border-color: #E9E9E9 !important;
		li .glyphicon { font-size: 14px; color: $dark-text; } } }

.share-links-stacked {
	button, span { clear: both; display: block; } }

.content-list { background-color: white; max-width: 754px; margin: 0 auto; border: 1px solid #E0E1E2; box-shadow: none; border-radius: 5px; }

.list-container { height: 100%; }

.container-padded { padding-top: 15px; padding-bottom: 15px; }

// articles

.panel-item { position: relative; border: solid #ddd; border-width: 0px 0px 1px 0px; border-radius: 0px; padding-bottom: 10px; margin-bottom: 0px;
	.title-stream-item { margin-right: 51px; }
	&:last-child { border-bottom: 0px; }.icon-admin { font-size: 16px; }
	.col-meta-item { display: inline-block; padding-right: 10px; }
	.meta-text { color: $grey; font-size: 11px; }
	.item-description { margin-bottom: 15px; }
	.listen-iframe { height: 100px;  width: 100%; margin-bottom: 70px !important; 
		iframe { height: 150px !important; } }
	.content-tags {  margin: 5px 0 10px -3px; }
	.video-info {  }
	.watch-iframe { max-height: 428px; padding: 0; margin: 15px 0; }
	.item-preview-image { position: relative; 
		.admin-dropdown { position: absolute; opacity: 0; bottom: -30px; left: 10px; z-index: 100; }
		&:hover .admin-dropdown { opacity: 1; @include transition ( opacity 100ms ease-in-out ); } }
	
	/* Desktop add/re-stream button. */

	.add-button { font-size: 20; position: relative; display: block; height: 20px; width: 20px; 
			& span { position: absolute; top: 7px; padding: 0; left: 2.5px; line-height: 0; font-size: 20; } } }

// feedback

feedback-widget { position: fixed; right: 25px; bottom: 0;
	.btn-feedback-toggle { color: white; background: #852C20; border-radius: 5px 5px 0 0; font-weight: 500; font-size: 16px; 
		&:hover { color: white; } }
	.form-group { width: 500px; background: white; padding: 15px; border-radius: 5px 5px 0 0; margin: 0; } }

.lbl-feedback-comment { color: $dark-text; }

.txt-feedback-comment { margin-bottom: 15px; }

/* ng-tags-input Angular module style */
tags-input { }

tags-input *, tags-input *:before, tags-input *:after { box-sizing: border-box; }

tags-input { font: 17px "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300;
	.tags .tag-list { margin: 0; padding: 0; list-style-type: none; }
	.tags .tag-item { position: relative; 
		span { height: 100%; padding-right: 7px; }
		.remove-button { position: absolute; line-height: 16px; border-left: 1px white solid !important; margin: 2px 0; top: 0px; right: 5px; padding-left: 5px; font-size: 10px; }
		& .remove-button:active { color: red; }
		&.selected { @include linear-gradient( top, #febbbb 0%, #fe9090 45%, #ff5c5c 100% ); } }
	.host { position: relative; 
		&:active { outline: none; } }
	.tags { padding: 1px; overflow: hidden; word-wrap: break-word; cursor: text; background-color: transparent; border: none;
		.tag-item { margin: 2px; padding: 0px 20px 0 10px; display: inline-block; float: left; line-height: initial; border-radius: 3px; background: #D0D0D0 !important; border: none !important; color: white; height: auto; vertical-align: middle; font-style: italic; }
		.input { border: 0; outline: none; margin: 2px; padding: 0; padding-left: 5px; float: left; height: 26px; background: transparent; } }
	.tags.focused { outline: none;	-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; } }

tags-input .tags .input.invalid-tag {
	color: red;
}
tags-input .tags .input::-ms-clear {
	display: none;
}

tags-input .tags .input { font-size: 17px; line-height: 10px; height: 19px; 
	@include placeholder { background-image: url("../images/ss_add_tags@2x.png"); background-size: auto 14px; background-repeat: no-repeat; opacity: 0.25; color: transparent; background-position: 0px 4px; }
}

tags-input.ng-invalid .tags {
	-webkit-box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
	-moz-box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
	box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
}

 .autocomplete { margin-top: 5px; position: absolute; padding: 5px 0; z-index: 999; width: 100%; background-color: white; border: 1px solid rgba(0, 0, 0, 0.2); box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		.suggestion-list { margin: 0; padding: 0; list-style-type: none; }
	 	.suggestion-item { padding: 5px 10px; cursor: pointer; white-space: nowrap;overflow: hidden; text-overflow: ellipsis; color: black; background-color: white; 
			&.selected { color: white; background-color: #0097cf; }
			&.selected em { color: white; background-color: #0097cf; }
			em { color: black;	background-color: white; } } }

.remove-button { color: white !important; margin: -5px 0 0 5px; padding: 0; border: none; background: none; cursor: pointer; vertical-align: middle; display: inline-block; }

/* Flash alerts */

/* Remove colors and add transition property */
.alert-flash { position: fixed; z-index: 7000; top: 0; pointer-events: none !important; padding: 8px 35px 8px 14px; margin-bottom: 20px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); border: 1px solid transparent; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
		/* change transition property to all */
    	-webkit-transition-property: all; transition-property: all;  
    h4 { margin: 0; }
    .close { position: fixed; top: -200px; right: -21px; line-height: 20px; } }

/* add warning colors to warn class */
.alert-warn { background-color: #fcf8e3; border: 1px solid #fbeed5; }

.alert-warn, .alert-warn h4 { color: #c09853; }

/* Extra small, iPhone, mobile */

@media only screen and (max-width : 768px) {

	#header { 
		#nav-row-1 { box-shadow: 0px 0px 0px #D3D2D2; }
		#nav-row-2 { margin-top: 65px; }
		.add-container { margin-right: 10px; } }

	.container { padding: 0 5px !important; }

	.content-toggle { max-width: 100%; background: white; border-radius: 10px; box-shadow: 0px 5px 5px 2px rgba( 255, 255, 255, 0.3); opacity: 0.98;
		.btn-green { 
			&:hover { color: white; } }
		.btn { height: 58px; position: relative; border-radius: 10px;
			.text-toggle { vertical-align: bottom;  }
			.glyphicon { margin-right: 10px; font-size: 22px; vertical-align: middle; } } }

	.panel-item { padding: 10px !important; 
		.title-stream-item { margin-right: 0px; }
		.item-preview { }
		.stream-article-image { margin: 10px 0;}
		.content-tags {  margin: 0px 0 20px -3px; }
		.meta-text { font-size: 15px; }
		.share-links { vertical-align: middle; text-align: middle;
			span, div { vertical-align: middle; }
			.add-container.mobile { display: inline-block !important;
				&:hover { background: transparent; }
				&:hover > a, &:hover > a:visited, a:visited { color: $green; } 
				a { padding: 0px !important; }
				.add-button { font-size: 20; position: relative; height: 25px; width: 25px; padding: 0;
					& span { position: absolute; top: 9px; padding: 0; left: 4.5px; line-height: 0; font-size: 20; } } } } }
	
	.navbar-container-dropdown { width: 200px !important; display: inline-block; }

	.panel-item { 
		.col-meta-item {  } }

	.navbar-brand { padding: 15 0 ; }

	body.splash { 
		.wide { height: initial !important; } }
		.splash-section { 
			h2 { font-size: 18px; } }
		
	div.splash-manifesto-container { 
		.splash-section { 
			.badge-mixpanel { margin: 0 auto; text-align: center; float: initial !important; } } }

	.alert-flash { width: 70%; left: 50%; margin-left: -35%; }

	.modal-dialog { width: 100% !important; } 
		
	// .share-links { position: asbolute; top: 0; right: 0; z-index: 100; }

}

/* Larger than XS */

@media only screen and (min-width : 768px) {

	body.splash { 
		.wide { height: 750px; }
			h1 { font-size: 50px; } }
		.splash-row-2 { 
			h1 { font-size: 45px; } }

	.panel-item {
		.stream-article-image { margin-right: 15px; width: 200px; }	
		.item-preview { margin-bottom: 5px !important; } }

	.alert-flash { width: 20%; left: 50%; margin-left: -10%; }

}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
} 