.header {
  background: lime; }

.login-wrapper {
  width: 100%;
  height: 100%;
  background: #00E0AA;
  padding-top: 250px; }

.login-panel {
  width: 320px;
  color: white; }
  .login-panel .btn {
    width: 100%; }

/* bootstrap edits */
.panel {
  background: transparent;
  border-color: white;
  padding: 20px; }

.btn-white {
  background: transparent;
  border-color: white;
  color: white;
  box-shadow: none;
  text-decoration: none; }
  .btn-white:hover {
    background: white;
    border-color: white;
    color: #00E0AA;
    box-shadow: none;
    text-decoration: none; }

.btn-green {
  background: transparent;
  border-color: #00E0AA;
  color: #00E0AA;
  box-shadow: none;
  text-decoration: none; }
  .btn-green:hover {
    background: #00E0AA;
    border-color: #00E0AA;
    color: white;
    box-shadow: none;
    text-decoration: none; }

.input-white {
  background: transparent;
  border-color: white;
  color: white; }
  .input-white:focus {
    box-shadow: none;
    border-color: white; }

.input-green {
  background: transparent;
  border-color: #00E0AA;
  color: #00E0AA; }
  .input-green::-webkit-input-placeholder {
    color: #00E0AA; }
  .input-green:focus {
    box-shadow: none;
    border-color: #00E0AA; }

.select-green {
  background: url('../images/carrot-green.png') no-repeat right !important;
  border: solid 1px #00E0AA;
  -webkit-appearance: none;
  color: #00E0AA; }

.modal-content {
  box-shadow: none;
  border-color: #00E0AA; }

.form-control:focus {
  box-shadow: none;
  border-color: #00E0AA; }

.navbar-green {
  background-color: #00E0AA;
  background-image: none;
  border-radius: 0;
  border: none;
  box-shadow: none; }
  .navbar-green .navbar-brand {
    color: white; }
    .navbar-green .navbar-brand:hover {
      color: white; }
  .navbar-green ul li:hover {
    background: white; }
  .navbar-green ul li:hover > a:visited {
    color: #00E0AA; }
  .navbar-green ul li:hover > a {
    color: #00E0AA; }
  .navbar-green ul li a {
    color: white; }
    .navbar-green ul li a:visited {
      color: white; }

#addModal {
  margin-top: 15px;
  margin-bottom: 15px; }
  #addModal .add-row {
    padding-top: 10px; }
    #addModal .add-row #addType {
      min-width: 100px; }
  #addModal [type="text"] {
    width: 100%; }
  #addModal .article-preview {
    padding-top: 40px; }
    #addModal .article-preview .article-preview h2 {
      float: none;
      clear: both; }
    #addModal .article-preview .story-image {
      width: 300px;
      height: auto;
      float: left;
      margin: 0 15px 15px 0; }
