@font-face {
	font-family: 'FanwoodText';
	src: url('../fonts/FanwoodText-Regular.ttf');
}

@font-face {
	font-family: 'Domine';
	src: url('../fonts/Domine-Regular.ttf');
}

@font-face {
	font-family: 'Oxygen';
	src: url('../fonts/Oxygen-Regular.ttf');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'Oxygen';
	src: url('../fonts/Oxygen-Light.ttf');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'Oxygen';
	src: url('../fonts/Oxygen-Bold.ttf');
	font-style: normal;
	font-weight: 700;
}

$green: #00E0AA;
$green-grey: #212321;
$red: #E44A39;
$orange: #FF7E32;

$highlight: white;
$darkbase: $green;

$body-font: Oxygen;
$headline-font: Oxygen;
$snippet-font: Oxygen;

$list-border: #E9E9E9;

// containers and wrappers

body { background-color: #F2F1F1; font-family: $body-font; }

.login-wrapper { width: 100%; height: 100%; background: $green; padding-top: 250px; }

.login-panel { width: 320px; color: white; float: left; }

.registration-panel { width: 320px; color: white; float: right;  }

.landing-container { width: 700px; }

// #viewport { height: 400px; }

/* bootstrap edits */

*:focus { outline: none !important; }

h1, h2 { font-weight: 300; color: $green; }

h3, h4, h5 { font-weight: 700; color: $green; }

h2 { margin-top: 0; }

a { color: $green;
	&:hover { color: $orange; text-decoration: none; } }

.panel { background: transparent; border-color: white; padding: 20px; }

.panel-green { background: transparent; border-color: $green; padding: 20px; }

.btn-white { background: transparent; border-color: white; color: white; box-shadow: none; text-decoration: none;
	&:hover { background: white; border-color: white; color: $green; box-shadow: none; text-decoration: none; } }

.btn { font-weight: 700; }

.btn-highlight { background: transparent; border-color: $highlight; color: $highlight; box-shadow: none; text-decoration: none;
	&:hover { background: $highlight; color: $darkbase; box-shadow: none; text-decoration: none; } }

.btn-green { background: transparent; border: solid 2px $green; color: $green; box-shadow: none; text-decoration: none;
	&:hover { background: $green; border-color: $green; color: white; box-shadow: none; text-decoration: none; } }

.btn-green-solid { background: $green; color: white;
	&:active { color: white; }
	&:hover { background: $green; } }

.btn-group-thick { 
	&:nth-child(2) { border-width: 3px; border-color: red; }
	.btn { border-width: 3px 0 3px 3px; }
	.btn-group:last-child { 
		.btn { border-width: 3px; } } }

.input-white { background: transparent; border-color: white; color: white;
	&:focus { box-shadow: none; border-color: white; outline: none; } }

.input-green { background: transparent; border-color: $green; color: $green;
	&::-webkit-input-placeholder { color: $green; }
	&:focus { box-shadow: none; border-color: $green; outline: none; } }

 .select-green { background: url('../images/carrot-green.png') no-repeat right !important; border: solid 1px #00E0AA; -webkit-appearance: none; color:  $green; }

.form-control:focus { box-shadow: none; border-color: $green; outline : none; }

.dropdown-menu { box-shadow: none; }

// new classes

.no-border { border: none; background: none;
	&:hover, &:active { border: none; background: none; box-shadow: none; } }

.btn-delete { color: $red; }

.text-green { color: $green; }

.spinner { padding: 15px; }

.btn-delete { position: absolute; top: 0; right: 0; color: $green; font-size: 24px; }

.add-form { margin-top: 20px; }

// navigation

#header { 
	.navbar-brand { padding-top: 10px;
		#logo { height: 30px; } }
	#nav-row-1 { margin-bottom: 28px; background-color: $darkbase; box-shadow: 5px 5px 5px #D3D2D2; } 
	#nav-row-2 { padding-top: 5px; box-sizing: border-box; background: transparent; border: none; } }

.content-toggle { width: 756px; background: white; 
	.btn { height: 50px; 
		.glyphicon { margin-right: 25px; } } }

.navbar-green { background-color: transparent; background-image: none; border-radius: 0; border: none; 
	.add-container { box-sizing: border-box; max-height: 50px;
		&:hover { background: transparent; }
		&:hover > a, &:hover > a:visited, a:visited { color: white; } 
		a { padding: 7px; }
		.add-button { font-size: 24px; font-weight: 700; padding: 5px 8px; border: 3px solid white; border-radius: 5px; } }
	.navbar-brand { color: white;
		&:hover { color: white; } }
	.user-menu-button { padding: 12px 15px;
		.btn, .btn:hover { color: $highlight; } }
	.user-menu a{ color: $green; 
		&:visited { color: $green; } 
		&:hover { background-color: $green; color: white; } }
	ul li {
		&:hover { background: $darkbase; }
		&:hover > a:visited, &:hover > a { color: white; } } }

// modals

.add-modal { background-color: rgba( 255, 255, 255, 0.75);
	.modal-dialog { width: 625px; }
	.modal-content { box-shadow: none; border-color: $green; } }

#addModal { margin-top: 15px; margin-bottom: 15px;
	.add-form { padding: 0; margin: 0; 
		.add-form-text { padding: 0 } 
		.add-form-toggle { padding: 0; margin: 0;
			.add-form-toggle-buttons { min-width: 100px; border: none; box-shadow: none; padding: 0; margin: 7px 0; } } }
	.type-toggle { border: 2px solid $green; font-size: 18px; padding: 2px 20px 3px 20px;
		& > input { visibility: hidden; position: absolute; }
		& > input + span { color: #ccc; }
		& > input:hover + span { color: $highlight; }
		& > input:checked + span { color: $darkbase; }
		& > input:checked:hover + span { color: $highlight; } }
	.url-line { width: 99%; border-width: 0 0 2px 0; border-radius: 0; box-shadow: none; }
	.article-preview { padding-top: 20px;
		.preview-text { padding: 0; margin: 0; 
			h4 { margin: 0; padding: 0; } }
		.preview-thumbnail { width: 150px; float: left; margin: 3px 15px 15px 0; } 
	.add-row-bottom { padding-right: 0; } } }

// content

.share-links { position: absolute; bottom: 0; right: 15px; display: block; 
		.glyphicon { font-size: 24px; color: #C5C5C5; } }

.meta-text { color: #C5C5C5; position: absolute; bottom: 0; margin: 6px 0px; }

.content-list { background-color: white; border-radius: 5px; border: 2px solid $list-border; box-shadow: 0px 0px 2px rgba( 0, 0, 0, 0.1); max-width: 754px; margin: 0 auto; }

.list-container { height: 100%; }

// articles

.stream-article { clear: both; position: relative; border-color: $list-border; border-width: 0 0 2px 0; border-radius: 0; box-shadow: none; padding-bottom: 30.5px; margin-bottom: 9.5px;
	h2 { margin-top: 0; font-family: $headline-font; color: $darkbase; }
	.article-snippet { font-family: $snippet-font; line-height: 22px; }
	.stream-article-image { float: left; float: left; margin-right: 15px; width: 200px; }
	.clearfix { height: 0; clear: both; } }

// video

.video-panel { position: relative; 
	.video-description { margin-bottom: 15px; }
	h2 { margin: 0; } }
	
.video-info {  }
.video-iframe { height: 428px; padding: 0; margin: 15px 0; }

// listen panel

.listen-panel { position: relative; 
	.listen-iframe { margin-bottom: 20px; } }