@font-face {
  font-family: 'FanwoodText';
  src: url('../fonts/FanwoodText-Regular.ttf'); }

@font-face {
  font-family: 'Domine';
  src: url('../fonts/Domine-Regular.ttf'); }

@font-face {
  font-family: 'Oxygen';
  src: url('../fonts/Oxygen-Regular.ttf');
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: 'Oxygen';
  src: url('../fonts/Oxygen-Light.ttf');
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: 'Oxygen';
  src: url('../fonts/Oxygen-Bold.ttf');
  font-style: normal;
  font-weight: 700; }

/* line 52, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
body {
  background-color: #F2F1F1;
  font-family: Oxygen; }

/* line 54, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.login-wrapper {
  width: 100%;
  height: 100%;
  background: #00E0AA;
  padding-top: 250px; }

/* line 56, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.login-panel {
  margin: 0 auto;
  float: none;
  color: white; }

/* line 58, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.registration-panel {
  color: white;
  float: none; }

/* line 60, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.landing-container {
  width: 700px; }

/* bootstrap edits */
/* line 66, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
*:focus {
  outline: none !important; }

/* line 68, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
h1, h2 {
  font-weight: 300;
  color: #00E0AA;
  margin-top: 0; }

/* line 70, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
h3, h4, h5 {
  font-weight: 700;
  color: #00E0AA; }

/* line 72, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
h2 {
  margin-top: 0; }

/* line 74, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
a {
  color: #00E0AA; }
  /* line 75, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  a:hover {
    color: #FF7E32;
    text-decoration: none; }
  /* line 76, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  a.underline {
    text-decoration: underline; }

/* line 78, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.panel {
  background: transparent;
  border-color: white;
  padding: 20px;
  box-shadow: none; }

/* line 80, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.panel-green {
  background: transparent;
  border-color: #00E0AA;
  padding: 20px; }

/* line 82, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.btn-white {
  background: transparent;
  border-color: white;
  color: white;
  box-shadow: none;
  text-decoration: none; }
  /* line 83, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .btn-white:hover {
    background: white;
    border-color: white;
    color: #00E0AA;
    box-shadow: none;
    text-decoration: none; }

/* line 85, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.btn {
  font-weight: 700; }
  /* line 86, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .btn:hover {
    background-position: none; }

/* line 88, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.btn-highlight {
  background: transparent;
  border-color: white;
  color: white;
  box-shadow: none;
  text-decoration: none; }
  /* line 89, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .btn-highlight:hover {
    background: white;
    color: #00E0AA;
    box-shadow: none;
    text-decoration: none; }

/* line 91, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.btn-green {
  background: transparent;
  border: solid 2px #00E0AA;
  color: #00E0AA;
  box-shadow: none;
  text-decoration: none; }
  /* line 92, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .btn-green:hover {
    background: #00E0AA;
    border-color: #00E0AA;
    color: white;
    box-shadow: none;
    text-decoration: none; }
  /* line 94, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .btn-green.no-border:hover, .btn-green.no-border:active {
    color: #00E0AA; }

/* line 96, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.btn-grey {
  background: transparent;
  border: solid 2px #C5C5C5;
  color: #C5C5C5;
  box-shadow: none;
  text-decoration: none; }
  /* line 97, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .btn-grey:hover {
    background: #C5C5C5;
    border-color: #C5C5C5;
    color: #C5C5C5;
    box-shadow: none;
    text-decoration: none; }
  /* line 99, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .btn-grey.no-border:hover, .btn-grey.no-border:active {
    color: #C5C5C5; }

/* line 101, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.btn-green-solid {
  background: #00E0AA;
  color: white; }
  /* line 102, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .btn-green-solid:active {
    color: white; }
  /* line 103, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .btn-green-solid:hover {
    background: #00E0AA;
    color: white; }

/* line 106, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.btn-group-thick:nth-child(2) {
  border-width: 3px;
  border-color: red; }
/* line 107, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.btn-group-thick .btn {
  border-width: 3px 0 3px 3px; }
/* line 109, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.btn-group-thick .btn-group:last-child .btn {
  border-width: 3px; }

/* line 111, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.btn-landing-register {
  margin-top: 30px; }

/* line 113, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.btn-font-light {
  font-weight: 300; }

/* line 115, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.input-white {
  background: transparent;
  border-color: white;
  color: white; }
  /* line 116, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .input-white:focus {
    box-shadow: none;
    border-color: white;
    outline: none; }

/* line 118, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.input-green {
  background: transparent;
  border: 2px solid #00E0AA;
  color: #5B5A5A; }
  /* line 119, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .input-green::-webkit-input-placeholder {
    color: #5B5A5A; }
  /* line 120, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .input-green:focus {
    box-shadow: none;
    border-color: #00E0AA;
    outline: none; }

/* line 122, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.select-green {
  background: url('../images/carrot-green.png') no-repeat right !important;
  border: solid 1px #00E0AA;
  -webkit-appearance: none;
  color: #00E0AA; }

/* line 124, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.input-font-lg {
  font-size: 19px;
  padding: 30px; }

/* line 126, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.form-control:focus {
  box-shadow: none;
  border-color: #00E0AA;
  outline: none; }

/* line 128, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.dropdown-menu {
  box-shadow: none; }

/* line 130, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.flash-alert {
  position: fixed;
  width: 20%;
  left: 50%;
  margin-left: -10%; }

/* line 132, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.fade {
  position: fixed; }

/* line 136, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.no-border {
  border: none;
  background: none; }
  /* line 137, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .no-border:hover, .no-border:active {
    border: none;
    background: none;
    box-shadow: none; }

/* line 139, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.text-green {
  color: #00E0AA; }

/* line 141, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.dark-text {
  color: #5B5A5A; }

/* line 143, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.glyphicon-green {
  color: #00E0AA; }
  /* line 144, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .glyphicon-green:hover {
    color: #00E0AA; }

/* line 146, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.glyphicon-grey {
  color: #C5C5C5; }
  /* line 147, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .glyphicon-grey:hover {
    color: #C5C5C5; }

/* line 149, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.spinner {
  padding: 15px; }

/* line 151, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.btn-x {
  font-size: 24px;
  font-family: Oxygen;
  font-weight: 300; }

/* line 153, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.add-form {
  margin-top: 20px; }

/* line 155, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.modal-logo {
  position: fixed;
  top: 0;
  left: -275px;
  width: 200px; }

/* line 157, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.login-meta-links {
  color: #5B5A5A; }
  /* line 159, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .login-meta-links ul li {
    display: inline; }
  /* line 160, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .login-meta-links ul li:first-child {
    list-style-type: none; }
  /* line 161, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .login-meta-links ul li:nth-child(2):before {
    content: '\2022';
    margin: 3px; }

/* line 163, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.landing-jumbotron {
  margin-top: 15%; }

/* line 165, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.container-stream {
  margin-top: 125px; }

/* line 167, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.panel-profile {
  position: relative; }

/* line 169, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.no-padding {
  padding-left: 0;
  padding-right: 0; }

/* line 174, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
#header .navbar-brand {
  padding-top: 10px; }
  /* line 175, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  #header .navbar-brand #logo {
    height: 30px; }
/* line 176, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
#header #nav-row-1 {
  margin-bottom: 28px;
  background-color: #00E0AA;
  box-shadow: 5px 5px 5px #D3D2D2;
  z-index: 1000; }
  /* line 177, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  #header #nav-row-1 .dropdown-menu {
    z-index: 1000; }
/* line 178, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
#header #nav-row-2 {
  padding-top: 5px;
  box-sizing: border-box;
  background: transparent;
  border: none;
  z-index: 900;
  margin-top: 60px; }

/* line 180, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.content-toggle {
  width: 756px;
  background: white; }
  /* line 182, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .content-toggle .btn-green:hover {
    color: white; }
  /* line 183, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .content-toggle .btn {
    height: 50px; }
    /* line 184, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
    .content-toggle .btn .glyphicon {
      margin-right: 25px; }

/* line 186, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.navbar-white {
  background-color: transparent; }
  /* line 188, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .navbar-white ul li:hover {
    background: white; }
  /* line 189, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .navbar-white ul li:hover > a {
    color: #00E0AA;
    background: transparent; }

/* line 191, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.navbar-green {
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  border: none; }
  /* line 192, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .navbar-green .add-container {
    box-sizing: border-box;
    max-height: 50px; }
    /* line 193, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
    .navbar-green .add-container:hover {
      background: transparent; }
    /* line 194, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
    .navbar-green .add-container:hover > a, .navbar-green .add-container:hover > a:visited, .navbar-green .add-container a:visited {
      color: white; }
    /* line 195, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
    .navbar-green .add-container a {
      padding: 7px; }
    /* line 196, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
    .navbar-green .add-container .add-button {
      font-size: 24px;
      font-weight: 700;
      padding: 5px 8px;
      border: 3px solid white;
      border-radius: 5px; }
  /* line 197, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .navbar-green .navbar-brand {
    color: white; }
    /* line 198, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
    .navbar-green .navbar-brand:hover {
      color: white; }
  /* line 199, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .navbar-green .user-menu-button {
    padding: 12px 15px; }
    /* line 200, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
    .navbar-green .user-menu-button .btn, .navbar-green .user-menu-button .btn:hover {
      color: white; }
  /* line 201, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .navbar-green .user-menu a {
    color: #00E0AA; }
    /* line 202, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
    .navbar-green .user-menu a:visited {
      color: #00E0AA; }
    /* line 203, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
    .navbar-green .user-menu a:hover {
      background-color: #00E0AA;
      color: white; }
  /* line 205, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .navbar-green ul li:hover {
    background: #00E0AA; }
  /* line 206, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .navbar-green ul li:hover > a:visited, .navbar-green ul li:hover > a {
    color: white; }

/* line 210, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.add-modal {
  background-color: rgba(255, 255, 255, 0.75); }
  /* line 211, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .add-modal .modal-dialog {
    width: 625px; }
  /* line 212, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .add-modal .modal-content {
    box-shadow: none;
    border-color: #00E0AA; }

/* line 214, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
#addModal {
  margin-top: 15px;
  margin-bottom: 15px; }
  /* line 215, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  #addModal .add-form {
    padding: 0;
    margin: 0; }
    /* line 216, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
    #addModal .add-form .add-form-text {
      padding: 0; }
    /* line 217, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
    #addModal .add-form .add-form-toggle {
      padding: 0;
      margin: 0; }
      /* line 218, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
      #addModal .add-form .add-form-toggle .add-form-toggle-buttons {
        min-width: 100px;
        border: none;
        box-shadow: none;
        padding: 0;
        margin: 7px 0; }
  /* line 219, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  #addModal .type-toggle {
    border: 2px solid #00E0AA;
    font-size: 18px;
    padding: 2px 20px 3px 20px; }
    /* line 220, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
    #addModal .type-toggle > input {
      visibility: hidden;
      position: absolute; }
    /* line 221, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
    #addModal .type-toggle > input + span {
      color: #ccc; }
    /* line 222, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
    #addModal .type-toggle > input:hover + span {
      color: white; }
    /* line 223, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
    #addModal .type-toggle > input:checked + span {
      color: #00E0AA; }
    /* line 224, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
    #addModal .type-toggle > input:checked:hover + span {
      color: white; }
  /* line 225, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  #addModal .url-line {
    width: 99%;
    border-width: 0 0 2px 0;
    border-radius: 0;
    box-shadow: none; }
  /* line 226, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  #addModal .article-preview {
    padding-top: 20px; }
    /* line 227, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
    #addModal .article-preview .preview-text {
      padding: 0;
      margin: 0; }
      /* line 228, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
      #addModal .article-preview .preview-text h4 {
        margin: 0;
        padding: 0; }
    /* line 229, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
    #addModal .article-preview .preview-thumbnail {
      width: 150px;
      float: left;
      margin: 3px 15px 15px 0; }
    /* line 230, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
    #addModal .article-preview .add-row-bottom {
      padding-right: 0; }

/* line 232, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.reader-modal {
  background: rgba(255, 255, 255, 0.99);
  font-family: Domine; }
  /* line 233, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .reader-modal .modal-dialog {
    float: none;
    width: 50%;
    max-width: 700px; }
  /* line 234, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .reader-modal .reader-container {
    margin-top: 15px; }
  /* line 235, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .reader-modal #item-options {
    margin: 10px 0;
    padding: 0; }
  /* line 236, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .reader-modal p {
    font-size: 16px;
    margin: 17px 0; }
  /* line 237, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .reader-modal img {
    clear: both;
    max-width: 100%;
    margin: 0 auto;
    display: block; }
  /* line 238, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .reader-modal .modal-content {
    height: 90%;
    overflow: scroll;
    border: 0;
    box-shadow: 0px 0px 20px 20px white; }
  /* line 239, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .reader-modal .share-links {
    position: fixed;
    top: 0;
    right: -150px;
    z-index: 100; }

/* line 244, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.share-links {
  position: absolute;
  bottom: 0;
  right: 15px;
  display: block; }
  /* line 245, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .share-links .glyphicon {
    font-size: 24px; }

/* line 248, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.share-links-stacked button, .share-links-stacked span {
  clear: both;
  display: block; }

/* line 251, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.meta-text {
  color: #C5C5C5;
  position: absolute;
  bottom: 0;
  margin: 6px 0px; }

/* line 253, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.meta-text-right {
  color: #C5C5C5;
  position: absolute;
  bottom: 0;
  margin: 15px;
  right: 0; }

/* line 255, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.content-list {
  background-color: white;
  border-radius: 5px;
  border: 2px solid #E9E9E9;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  max-width: 754px;
  margin: 0 auto; }

/* line 257, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.list-container {
  height: 100%; }

/* line 259, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.container-padded {
  padding-top: 15px;
  padding-bottom: 15px; }

/* line 263, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.stream-article {
  clear: both;
  position: relative;
  border-color: #E9E9E9;
  border-width: 0 0 2px 0;
  border-radius: 0;
  box-shadow: none;
  padding-bottom: 30.5px;
  margin-bottom: 9.5px; }
  /* line 264, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .stream-article h2 {
    margin-top: 0;
    font-family: Oxygen;
    color: #00E0AA; }
  /* line 265, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .stream-article .article-snippet {
    font-family: Oxygen;
    line-height: 22px; }
  /* line 266, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .stream-article .stream-article-image {
    float: left;
    float: left;
    margin-right: 15px;
    width: 200px; }
  /* line 267, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .stream-article .clearfix {
    height: 0;
    clear: both; }

/* line 271, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
.item-panel {
  position: relative; }
  /* line 272, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .item-panel .item-description {
    margin-bottom: 15px; }
  /* line 273, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .item-panel .listen-iframe {
    height: 100px;
    width: 100%;
    margin-bottom: 70px !important; }
    /* line 274, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
    .item-panel .listen-iframe iframe {
      height: 150px !important; }
  /* line 275, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .item-panel h2 {
    margin: 0; }
  /* line 277, /Users/noah/Documents/dev/slipstream/public/css/style.scss */
  .item-panel .watch-iframe {
    height: 428px;
    padding: 0;
    margin: 15px 0; }

/*# sourceMappingURL=style.css.map */