<div class="container-fluid" id="addModal">
		
		<h2 class="pull-left">Add to Stream</h2>

		<button class="btn pull-right no-border btn-green btn-x" ng-click="cancel()">
			<img src="images/x_addmodal.png" alt="">
		</button>

		<div class="add-form clear-fix col-md-12">

			<div class="add-form-text col-md-8">
				<input type="text" class="form-control input-green input-line" ng-model="contentParams.url" placeholder="Paste URL" ng-change="addContent(); blankCheck()">
			</div>

			<div class="clear-fix"></div>
			
			<div class="add-form-toggle col-md-4">
				<form name="" class="form-control pull-right add-form-toggle-buttons" >
					<div class="btn-group pull-right">
						<label for="read" type="button" class="type-toggle btn btn-green">
							<input type="radio" id="read" name="type" value="read" ng-checked="{{ currentState == 'app.read' }}" ng-model="contentParams.type" />
							<span class="glyphicon glyphicon-book"></span>
						</label>
						<label for="watch" type="button" class="type-toggle btn btn-green">
							<input type="radio" id="watch" name="type" value="watch" ng-checked="{{ currentState == 'app.watch' }}" ng-model="contentParams.type" />
							<span class="glyphicon glyphicon-film"></span>
						</label>
						<label for="listen" type="button" class="type-toggle btn btn-green">
							<input type="radio" id="listen" name="type" value="listen" ng-checked="{{ currentState == 'app.listen' }}" ng-model="contentParams.type" />
							<span class="glyphicon glyphicon-headphones"></span>
						</label>
					</div>
				</form>
			</div>

		</div>

	<div class="spinner" ng-show="showSpinner">
		<img class="center-block" src="images/spinner.gif" >
	</div>

	 <div class="article-preview" ng-show="showPreview">
			
		<img ng-src="{{ contentPreview.images[0].thumb }}" class="preview-thumbnail" >
		
		<div class="preview-text col-md-8">
			<h4> {{ contentPreview.title }} </h4>
			<p>{{ contentPreview.description | stripTags | limitTo: 170 }} ... </p>
		</div>

	 </div>

	 <div class="clear-fix col-md-12 add-row-bottom">


		<tags-input ng-model="tags" class="input-line input-green no-padding col-md-8" ng-show="showPreview"></tags-input>

		<!-- <div class="container-fluid col-md-6">
			 <button class="col-md-6 btn btn-green-solid btn-block" ng-click="deleteItem(); showPreview=false" ng-show="showPreview">Cancel (Delete)</button>
		</div> -->

		<div class="container-fluid col-md-3 pull-right done-button">
			<button class="btn btn-green btn-block pull-right" ng-click="done(); showPreview=false" ng-show="showPreview">Done</button>
		</div>

	 </div>

</div>
