<div ng-controller="HomeController">

<div id="header">
	
	<nav class="navbar navbar-default navbar-green navbar-fixed-top" id="nav-row-1">
		<div class="container">
			<div class="navbar-header">
				<a ui-sref="home" class="navbar-brand hidden-xs">
					<img src="images/ss_logo.png" alt="" id="logo">
				</a>
			</div>
			<div class="collpase navbar-collapse">
				<ul class="nav navbar-nav navbar-left pull-left">
					<li ng-show=" mode == 'visiting' " class="containter-navbar-btn-left visible-lg">
						<button-follow></button-follow>
					</li>
					
					<li class="center-block visible-xs" ng-hide="searchCheckBox">
						<div dropdown-mode></div>
					</li>
				</ul>

				<ul class="nav navbar-nav navbar-center hidden-xs">
					<li class="center-block">
						<div dropdown-mode></div>
					</li>
				</ul>

				<ul class="nav navbar-nav navbar-right">

					<li class="add-container pull-right">
						<a href="" ng-click="openAddModal()"><div class="add-button">+</div></a>
					</li>

					<li class="pull-right navbar-container-search" ng-if=" mode == 'mystream' ">
							<input type="checkbox" id="button-search" ng-model="searchCheckBox"></input>
							<label for="button-search" class="label-search cursor-pointer">
								<span class="navbar-height-fix mag-glass"><img src="images/magglass@2x.png" alt="Search" class="img-white"></span>
							</label>
							<input type="text" class="form-control navbar-search" ng-change="doSearch()" ng-model="search.query" placeholder="Search" />
					</li>

					<li ng-show=" mode == 'visiting' " class="containter-navbar-btn-left hidden-lg pull-right">
						<button-follow></button-follow>
					</li>
					
				
				
					<!-- <li>
						<div class="dropdown user-menu-button">
						  <button class="btn btn-highlight dropdown-toggle no-border" type="button" id="user-menu" data-toggle="dropdown" aria-expanded="true">
						    <span class="glyphicon glyphicon-menu-hamburger"></span>
						    <span class="sr-only">
								Toggle User Menu
							</span>
						  </button>
						  
						  <ul class="dropdown-menu dropdown-menu-right user-menu" role="menu" aria-labelledby="user-menu">
						    <li role="presentation"><a role="menuitem" tabindex="-1" ui-sref="app.profile">Profile</a></li>
						    <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="logout()">Log out</a></li>
						  </ul>
						</div>
					</li> -->
				</ul>
			</div>
		</div>
	</nav>

	<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="nav-row-2" >
		<div class="container" >
			
			<div class="btn-group btn-group-justified content-toggle center-block btn-group-thick" ng-hide=" $state.includes('app.profile') || $state.includes('app.admin') " >
				<div class="btn-group">
					<button ui-sref="app.stream( { username: currentUser, stream: 'read', mode: 'stream' })" class="btn btn-green" ui-sref-active="btn-green-solid" ui-sref-opts="{ reload: true }" ng-if=" mode == 'mystream' || mode == 'visiting' ">
						<span class="glyphicon glyphicon-book"></span>
						<span class="text-toggle">Read</span>
					</button>
					<button ui-sref="app.discover( { stream: 'read', mode: mode } )" class="btn btn-green" ui-sref-active="btn-green-solid" ui-sref-opts="{ reload: true }" ng-if=" mode == 'discover' || mode == 'following' ">
						<span class="glyphicon glyphicon-book"></span>
						<span class="text-toggle">Read</span>
					</button>
				</div>
				<div class="btn-group">
					<button ui-sref="app.stream( { username: currentUser, stream: 'watch', mode: 'stream' })" class="btn btn-green" ui-sref-active="btn-green-solid" ui-sref-opts="{reload: true }" ng-if=" mode == 'mystream' || mode == 'visiting' ">
						<span class="glyphicon glyphicon-play-circle"></span>
						<span class="text-toggle">Watch</span>
					</button>
					<button ui-sref="app.discover( { stream: 'watch', mode: mode } )" class="btn btn-green" ui-sref-active="btn-green-solid" ui-sref-opts="{reload: true }" ng-if=" mode == 'discover' || mode == 'following' ">
						<span class="glyphicon glyphicon-play-circle"></span>
						<span class="text-toggle">Watch</span>
					</button>
				</div>
				<div class="btn-group">
					<button ui-sref="app.stream( { username: currentUser, stream: 'listen', mode: 'stream' })" class="btn btn-green" ui-sref-active="btn-green-solid" ui-sref-opts="{reload: true}" ng-if=" mode == 'mystream' || mode == 'visiting' ">
						<span class="glyphicon glyphicon-headphones"></span>
						<span class="text-toggle">Listen</span>
					</button>
					<button ui-sref="app.discover( { stream: 'listen', mode: mode })" class="btn btn-green" ui-sref-active="btn-green-solid" ui-sref-opts="{reload: true}" ng-if=" mode == 'discover' || mode == 'following' ">
						<span class="glyphicon glyphicon-headphones"></span>
						<span class="text-toggle">Listen</span>
					</button>
				</div>
			</div>

		</div>
	</nav>

	<div class="content-toggle center-block btn-back navbar-fixed-top no-border" id="nav-row-2" ng-show=" $state.includes('app.profile') ">
		<div class="container container-padded no-padding">
			<div class="col-md-12">
				<a ui-sref="app.read"><span class="glyphicon glyphicon-chevron-left"></span>  Back to streams</a>
			</div>
		</div>
	</div>

</div>

<div class="container container-stream">

	<div ui-view id="viewport" height="100%"></div>

</div>

<feedback-widget url='/api/feedback' thanks-text='Thanks so much!' />

</div>