<div ng-controller="ArticlesController as articles" class="list-container">

	<div class="content-list">

		<div infinite-scroll="articles.loadMore('read', 5)" infinite-scroll-immediate-check="true">

			<div class="stream-article panel panel-green" ng-repeat="article in articles.items" ng-hide="hideArticle">
		        
				<a target="_blank" href="{{ article.url }}">
					<h2>{{ article.title }}</h2>
				</a>

				<img ng-src="{{ article.imageThumb }}" class="stream-article-image">
				<p class="article-snippet">{{ article.description | limitTo: 320 }}... </p>

				<div class="share-links">
					<button class="btn btn-grey no-border" ng-click="openReaderModal( article )">
						<span class="glyphicon glyphicon-fullscreen"></span>
					</button>

					<span class="dropdown user-menu">

					  <button class="btn btn-grey dropdown-toggle no-border" type="button" id="item-options" data-toggle="dropdown" aria-expanded="true">
					    <span class="glyphicon glyphicon-option-horizontal"></span>
					    <span class="sr-only">
							Toggle Item Options Menu
						</span>
					  </button>
					  
					  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="item-options">
					    <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="deleteItem( 'read', article._id ); hideArticle=true">Delete</a></li>
					  </ul>
					</span>

					<button class="btn btn-grey btn-xs no-border" popover="Right-click and select copy link" popover-trigger="mouseenter" popover-placement="bottom">
						<a href="{{ article.url }}"><span class="glyphicon glyphicon-share-alt glyphicon-grey"></span></a>
					</button>
				</div>
				<div class="clearfix"></div>
		    </div>

			<div class="loading" ng-show="articles.busy">Loading...</div>

		</div>
	
	</div>

	<div class="clearfix"></div>
</div>
