<div class='dropdown container-navbar'>
	<button class='btn btn-white dropdown-toggle' id='modetoggle' data-toggle="dropdown" aria-expanded="true">
		<span ng-if=" mode == 'mystream' || mode == 'visiting' ">{{ currentUser }}'s Stream</span>
	 	<span ng-if=" mode == 'discover' ">Discover</span>
	 	<span ng-if=" mode == 'following' ">Following</span> <span class='caret'></span>
	</button>
	<ul class='dropdown-menu' role='menu' aria-labelledby='modetoggle'>
		<li role='presentation'><a ng-click=" $state.go( 'app.stream', { username: username, mode: 'stream', stream: currentStream }, { reload: true } ) ">My Stream</a></li>
		<li role='presentation'><a ng-click=" modeChange( 'discover' ); $state.go( 'app.discover', { stream: currentStream, mode: 'discover' }, { reload: true } ) ">Discover</a></li>
		<li role='presentation'><a ui-sref="app.discover({ mode: 'following', stream: currentStream }) " ui-sref-opts="{ reload: true }">Following</a></li>
	</ul>
</div>