<div class='dropdown container-navbar'>
	<button class='btn btn-white dropdown-toggle' id='modetoggle' data-toggle="dropdown" aria-expanded="true">
		<span ng-if=" mode == 'mystream' || mode == 'visiting' ">{{ currentUser }}'s Stream</span>
	 	<span ng-if=" mode == 'discover' ">Discover</span>
	 	<span ng-if=" mode == 'following' ">Following</span> <span class='caret'></span>
	</button>
	<ul class='dropdown-menu' role='menu' aria-labelledby='modetoggle'>
		<li role='presentation'><a ng-click=" modeChange( 'mystream' ); $state.go( 'app.stream', { username: username }, { reload: true } ) ">My Stream</a></li>
		<li role='presentation'><a ng-click=" modeChange( 'discover' ); $state.go( 'app.discover', { stream: currentStream }, { reload: true } ) ">Discover</a></li>
		<li role='presentation'><a ng-click=" modeChange( 'following' ); $state.reload( 'app.stream' ) ">Following</a></li>
	</ul>
</div>