<div class="container-fluid container-padded">
	<h1>Send this content to some friends</h1>

	<div class="form-group" ng-repeat="choice in choices">
		<input type="email" class="input-green input-line col-md-8" name="" placeholder="Friend's email" ng-model="choice.email"><br><br>
		<button ng-show="$last" ng-click="addMoreEmails()" class="add-button add-button-sm btn-add-more"><span>+</span></button>
		<span ng-show="$last" class="text-green">I have more!</span>
	</div>

	<button ng-click="sendEmails( choices )" class="btn btn-green btn-xlg pull-right btn-share">Share!</button>
</div>