<div class="wide">

	<div class="container container-padded">	
		<button class="btn pull-right" ng-class="{ 'btn-green' : !$state.includes( 'landing.splash' ), 'btn-white': $state.includes( 'landing.splash' ) }" ui-sref="landing.login">
			Login
		</button>
	</div>

	<div class="col-md-10 col-md-offset-1">
		<div class="jumbotron landing-jumbotron">
			<img src="images/ss_logo_white_splash@2x.png" alt="SlipStream logo" height="84px" width="auto" class="hidden-xs">
			
			<img src="images/ss_logo_white_splash@2x.png" alt="SlipStream logo" height="42px" width="auto" class="visible-xs">
				
			<h1 class="splash-hero-text">Curate and discover the web<br class="hidden-xs" /> like never before.</h1>

			<script type="text/ng-template" id="splash-cta-signup.html">
				<span ng-hide="showSignup">
					<button class="btn btn-white btn-xlg btn-landing-register" ng-click="showSignup = true">Sign Up</button><br /><br />
				</span>
				<form class="form-inline form-waitlist" ng-show="showSignup">
					<span class="form-group">
						<input type="email" class="input-white form-control input-font-lg" ng-model="user.email" placeholder="Email">
						
						<!-- Desktop  -->

						<button class="btn btn-white btn-lg hidden-xs" ng-click="waitlist()">Sign Up</button>

						<!-- Mobile -->
						
						<br class="visible-xs"><button class="btn btn-white btn-lg btn-block visible-xs" ng-click="waitlist()">Sign Up</button>
					</span>
				</form>
			</script>

			<ng-include src="'splash-cta-signup.html'"></ng-include>
			<div class="clearfix"></div>
			<a ui-sref="landing.register" ng-hide="showSignup">Have a beta key?</a>
			<div class="clearfix"></div>
		</div>
	</div>
</div>


<div class="clearfix"></div>

<div class="splash-row-2 col-md-8 col-md-offset-2">
	<div class="splash-section">
		<h1 class="text-center">The most delightful way to save your favorite content, enjoy it again, and discover more.</h1><br /><br />
		<img src="images/splash-streams.png" alt="" class="center-block hero-image-streams">
	</div>
	<div class="text-center splash-section">
		
		<h1 class="splash-cta-left hidden-xs">It's free and easy</h1>

		<h1 class="visible-xs dark-text">It's free and easy</h1><br class="visible-xs">

		<span class="cta-green">
			<ng-include src="'splash-cta-signup.html'"></ng-include>
		</span>
	</div>
	<div class="splash-section">
		<h1 class="text-center">Discovery with high standards.</h1><br /><br />
		<h2 class="dark-text text-center">While you're saving all your favourite articles, videos and music to Slipstream, so is everyone else. We're building a platform for all the best content on the web to call home.</h2><br /><br />
		<img src="images/splash-discovery.png" alt="" class="center-block hero-image-discover">
	</div>
	<div class="clearfix"></div>
</div>

<div class="splash-manifesto-container col-md-12">
	<div class="splash-section">
		<button class="btn btn-green center-block btn-manifesto hidden-xs" ng-click="openManifesto()">WE HAVE A MANIFESTO</button>

		<!-- <button class="btn btn-green btn-block btn-manifesto visible-xs" ng-click="openManifesto()">WE HAVE A MANIFESTO</button> -->


		<div class="text-center manifesto-definition hidden-xs">Noun | man . i . fes . to | \,ma-ne-’fes-(,)to\:<br /> a written statement that describes the policies, goals,<br /> and opinions of a person or group</div>
		<div class="center-block text-center icon-logo text-white splash-section">
			<a href="https://twitter.com/getslipstream" class="text-white"><p class="icon-twitter" class="text-white"></p></a>
		</div>
		<div class="pull-right badge-mixpanel">
			<a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
		</div><br><br>
		<div class="text-center center-block footer" style=" clear: both; ">© 2015 Slipstream, All rights reserved</div>
	</div>
</div>