<div id="header" ng-hide="$state.includes( 'landing.splash' ) ">
	
	<nav class="navbar navbar-white">
		<div class="container">
			<div class="navbar-header">
				<a ui-sref="landing.splash" class="navbar-brand">
					<img src="images/ss_logo_green.png" alt="" id="logo" ng-hide=" $state.includes( 'landing.splash' ) ">
				</a>
			</div>
			<ul class="nav navbar-nav navbar-right pull-right">
				<li ng-hide=" $state.includes( 'landing.login' )  ">
					<a ui-sref="landing.login">	
						<button class="btn" ng-class="{ 'btn-green' : !$state.includes( 'landing.splash' ), 'btn-white': $state.includes( 'landing.splash' ) }">
							Login
						</button>
					</a>
				</li>
				<!--<li>
					<a ui-sref="landing.register">Register</a>
				</li> -->
			</ul>
		</div>
	</nav>
</div>

<div ui-view id="viewport" height="100%"></div>


<footer class="footer" role="footer">
	<div class="container">
		<p class="text-center">
			© 2015 {{ appName }}, all rights reserved 
		</p>
	</div>
</div>
