<span class="dropdown menu-share">
	<button class="btn dropdown-toggle no-border btn-grey" type="button" id="item-share" data-toggle="dropdown" aria-expanded="true">
		<span class="glyphicon glyphicon-send glyphicon-grey"></span>
		<span class="sr-only">
		Toggle Item Share Menu
	</span>
	</button>
	
	<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="item-options">
		<li role="presentation"><a  ng-click="shareTwitter( item )" class="cursor-pointer"><span class="icon-logo icon-twitter"></span> Share to Twitter</a></li>
	</ul>
</span>