<img src="images/ss_logo_green.png" alt="" class="modal-logo">

<div class="container-fluid reader-container">

	<h2>{{ article.title }}</h2>

	<div class="reader-processing" ng-show=" article.processing ">
		<h3 class="text-center dark-text btn-font-light font-sans-serif">
			We're still processing this article.
		</h3>
		<h4 class="text-center dark-text btn-font-light font-sans-serif">
			Check back later when we've imported all it's content.
		</h4>
	</div>

	<div ng-bind-html="article.text" ng-hide="adminEdit"></div>

	<div ng-show="adminEdit == true">
		<textarea ng-wig="article.text"></textarea><br />
		<button class="btn btn-green" ng-click="saveAdminEdit()">Submit changes</button>
	</div>


	
</div>

<div class="share-links share-links-stacked">
	
	<button class="btn btn-green btn-xs no-border btn-x" ng-click="closeModal()">
		<img src="images/x@2x.png" alt="">
	</button>

	<ng-include src="'app/views/menu-share.html'" scope="" onload=""></ng-include>

	<span class="dropdown admin-reader-menu" ng-if=" role == 'admin' ">
	  <button class="btn dropdown-toggle no-border btn-grey" type="button" id="item-options" data-toggle="dropdown" aria-expanded="true">
	    <span class="glyphicon glyphicon-option-horizontal glyphicon-green"></span>
	    <span class="sr-only">
			Toggle Item Options Menu
		</span>
	  </button>
	  
	  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="item-options">
	    <li role="presentation">
	    	<a role="menuitem" tabindex="-1" ng-click="adminMode()"><span class="glyphicon glyphicon-text-background cursor-pointer" aria-hidden="true"></span>  Edit post</a>
	    </li>
	  </ul>
	</span>
	
</div>