<img src="images/ss_logo_green.png" alt="" class="modal-logo" ng-hide=" $state.includes( 'single' )"><br />

<div id="header" ng-show=" $state.includes( 'single' ) ">
	<nav class="navbar navbar-white">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle collapsed">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<spen class="sr-only">
						Toggle Navigation
					</spen>
				</button>
				<a ui-sref="landing.splash" class="navbar-brand">
					<img src="images/ss_logo_green.png" alt="" id="logo" ng-hide=" $state.includes( 'landing.splash' ) ">
					<span class="dark-text pull-right hidden-xs">Curate and discover the web like never before.</span>
				</a>
			</div>
			<div class="hidden-xs">
				<!-- <ul class="nav navbar-nav navbar-center">
					<li>
						<button class="btn btn-green no-border" ui-sref="app.stream( { username: currentUser, stream: currentStream, mode: 'stream' })">
							<span class="glyphicon glyphicon-chevron-left"></span> Back to {{ currentUser }}'s {{ currentStream }} stream
						</button>
					</li>
				</ul> -->
				<ul class="nav navbar-nav navbar-right" ng-hide="username">
					<li>
						<a href="">
							<ng-include src="'splash-cta-signup.html'"></ng-include>
						</a>
					</li>

					<li ng-hide=" $state.includes( 'landing.login' )  ">
						<a href="">
							<button class="btn" ng-class="{ 'btn-green' : !$state.includes( 'landing.splash' ), 'btn-white': $state.includes( 'landing.splash' ) }" ui-sref='landing.login' ui-sref-opts="{reload: true}">
								Login
							</button>
						</a>
					</li>
					<!--<li>
						<a ui-sref="landing.register">Register</a>
					</li> -->
				</ul>
			</div>
		</div>
	</nav>
</div>

<div class="visible-xs container-fluid sign-up-mobile" ng-show=" $state.includes( 'single' ) ">
	
	<span ng-hide="showSignup" class="sign-up-span">
		<button class="btn btn-green btn-landing-register" ui-sref="landing.register">Sign Up</button><br /><br />
	</span>

	<button class="btn" ng-class="{ 'btn-green' : !$state.includes( 'landing.splash' ), 'btn-white': $state.includes( 'landing.splash' ) }" ui-sref='landing.login' ui-sref-opts="{reload: true}">
		Login
	</button>

</div>

<div class="container-fluid reader-container" ng-class="{ 'reader-single col-md-6 col-md-offset-3': $state.includes( 'single' ) }">

	<div class="share-links visible-xs" ng-hide=" $state.includes( 'single' ) ">
	
		<button class="btn btn-green btn-xs no-border btn-x" ng-click="closeModal()">
			<img src="images/x@2x.png" alt="Close reader view">
		</button>

		<!-- <ng-include src="'app/views/menu-share.html'" scope="" onload=""></ng-include>

		<span class="dropdown admin-reader-menu" ng-if=" role == 'admin' ">
		  <button class="btn dropdown-toggle no-border btn-grey" type="button" id="item-options" data-toggle="dropdown" aria-expanded="true">
		    <span class="glyphicon glyphicon-option-horizontal glyphicon-green"></span>
		    <span class="sr-only">
				Toggle Item Options Menu
			</span>
		  </button>
		  
		  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="item-options">
		    <li role="presentation">
		    	<a role="menuitem" tabindex="-1" ng-click="adminMode()"><span class="glyphicon glyphicon-text-background cursor-pointer" aria-hidden="true"></span>  Edit post</a>
		    </li>
		  </ul>
		</span> -->
		
	</div>

	<h2 ng-hide=" role == 'admin' ">{{ item.title }}</h2>

	<h2 ng-show=" role == 'admin' "
		inline-edit="item.title"
		inline-edit-on-click
		inline-edit-btn-edit=" <span class='glyphicon glyphicon-pencil cursor-pointer dark-text icon-admin'></span>" 
		inline-edit-callback="adminEditTitle( newValue, item )"
	></h2>

	<!-- <react-component name="EditTitle" props="adminEditTitle" watch-depth="reference" ng-show=" role == 'admin' " ng-model="newTitle" ng-change="showNewTitle()"></react-component> -->

	<div class="reader-processing" ng-show=" item.processing ">
		<h3 class="text-center dark-text btn-font-light font-sans-serif">
			We're still processing this item.
		</h3>
		<h4 class="text-center dark-text btn-font-light font-sans-serif">
			Check back later when we've imported all it's content.
		</h4>
	</div>

	<span ng-show="publisher" class="publisher">
		Via <a ng-href="{{ item.url }}">{{ publisher }}</a>
	</span>

	<div ng-bind-html="item.text" ng-show=" item.stream == 'read' && !adminEdit"></div>

	<div ng-class="{ 'watch-iframe' : item.stream == 'watch', 'listen-iframe' : item.stream == 'listen' }" iframely url="{{ item.url }}" ng-if=" item.stream != 'read' "></div>

	<div ng-show="adminEdit == true">
		<textarea ng-wig="item.text"></textarea><br />
		<button class="btn btn-green" ng-click="saveAdminEdit()">Submit changes</button>
	</div><br /> 
	
	<div ng-bind="article.description" ng-show=" article.stream != 'read' "></div>

</div>

<div class="share-links share-links-stacked" ng-hide=" $state.includes( 'single' ) ">
	
	<button class="btn btn-green btn-xs no-border btn-x" ng-click="closeModal()">
		<img src="images/x@2x.png" alt="">
	</button>

	<span class="hidden-xs">
		<ng-include src="'menu-share.html'"></ng-include>
	</span>

	<span class="dropdown admin-reader-menu hidden-xs" ng-if=" role == 'admin' ">
	  <button class="btn dropdown-toggle no-border btn-grey" type="button" id="item-options" data-toggle="dropdown" aria-expanded="true">
	    <span class="glyphicon glyphicon-option-horizontal glyphicon-green"></span>
	    <span class="sr-only">
			Toggle Item Options Menu
		</span>
	  </button>
	  
	  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="item-options">
	    <li role="presentation">
	    	<a role="menuitem" tabindex="-1" ng-click="adminMode()"><span class="glyphicon glyphicon-text-background cursor-pointer" aria-hidden="true"></span>  Edit post</a>
	    </li>
	  </ul>
	</span>
	
</div>

<script type="text/ng-template" id="splash-cta-signup.html">
	<span ng-hide="showSignup" class="sign-up-span">
		<button class="btn btn-green btn-landing-register" ui-sref="landing.register">Sign Up</button><br /><br />
	</span>
</script>