<img src="images/ss_logo_green.png" alt="" class="modal-logo">

<div class="container-fluid reader-container">

	<h2>{{ article.title }}</h2>

	<div class="reader-processing" ng-show=" article.processing ">
		<h3 class="text-center dark-text btn-font-light font-sans-serif">
			We're still processing this article.
		</h3>
		<h4 class="text-center dark-text btn-font-light font-sans-serif">
			Check back later when we've imported all it's content.
		</h4>
	</div>

	<div ng-bind-html="article.text"></div>

</div>

<div class="share-links share-links-stacked">
	
	<button class="btn btn-green btn-xs no-border btn-x" ng-click="closeModal()">
		<img src="images/x@2x.png" alt="">
	</button>

	<ng-include src="'app/views/menu-share.html'" scope="" onload=""></ng-include>
	
</div>