<div class="panel registration-panel col-md-6 center-block">
	<h2 class="text-center dark-text">Register</h2><br/>
	<form novalidate valid-submit="register()" name="regForm">
		<div class="form-group">
			<label for="regUsername" class="dark-text">Username</label>
			<input type="text" class="username form-control input-green input-font-lg" id="regUsername" ng-model="user.username" name="username" ng-required="true" ng-minlength="4">
			<span class="text-grey" ng-show="regForm.$submitted && regForm.username.$invalid">Username required and must be at least 4 characters/span>
		</div>

		<div class="form-group">
			<label for="regPassword" class="dark-text">Password</label>
			<input type="password" class="username form-control input-green input-font-lg" id="regPassword" ng-model="user.password" ng-minlength="5" name="password" ng-required="true">
			<span class="text-grey" ng-show="regForm.$submitted && regForm.password.$invalid">Password required and must be at least 5 characters</span>
		</div>

		<div class="form-group">
			<label for="regEmail" class="dark-text">Email</label>
			<input type="email" class="email form-control input-green input-font-lg" id="regEmail" ng-model="user.email" ng-required="true" name="email">
			<span class="text-grey" ng-show="regForm.$submitted && regForm.email.$invalid">Valid email required</span>
		</div>
		
		<button class="btn btn-green-solid btn-block btn-lg btn-font-light" type="submit" >Register</button>
	</form>	
</div>