<div class="panel registration-panel col-md-6 center-block">
	<h2 class="text-center dark-text">Register</h2><br/>
	<form novalidate ng-submit="register()" name="regForm">
		<div class="form-group">
			<label for="regUsername" class="dark-text">Username</label>
			<input type="text" class="username form-control input-green input-font-lg" id="regUsername" ng-model="user.username">
		</div>

		<div class="form-group">
			<label for="regPassword" class="dark-text">Password</label>
			<input type="password" class="username form-control input-green input-font-lg" id="regPassword" ng-model="user.password" ng-minlength="5">
		</div>

		<div class="form-group">
			<label for="regEmail" class="dark-text">Email</label>
			<input type="email" class="email form-control input-green input-font-lg" id="regEmail" ng-model="user.email">
		</div>
		
		<button class="btn btn-green-solid btn-block btn-lg btn-font-light" type="submit" ng-disabled="regForm.$invalid">Register</button>
	</form>	
</div>