<div class="list-container">

	<div class="content-list">

		<div infinite-scroll="content.loadMore(3)" infinite-scroll-immediate-check="true">

			<div class="panel panel-item" ng-repeat="item in content.items" ng-hide="hideItem">
				<h2	ng-show=" role == 'admin' "
					inline-edit="item.title" 
					inline-edit-btn-edit=" <span class='glyphicon glyphicon-pencil cursor-pointer text-grey icon-admin'></span>"
					inline-edit-callback="adminEditTitle( newValue, { id: item._id } )"
					inline-edit-on-click
				></h2>
				<h2 class="title-stream-item" class="cursor-pointer title-stream-item" ng-show=" role != 'admin' " ng-click="openReaderModal( item )">
					<span class="cursor-pointer" data-ng-bind="item.title"></span>
				</h2>

				<div class="pull-left col-md-12 no-padding visible-xs meta-text">
					<div ng-include="'meta-text.html'"></div>
				</div>
				
				<div class="add-container pull-right button-stream-item-top hidden-xs" ng-hide="  mode == 'mystream' ">
					<a href="" ng-click="addContent( item.url )">
						<div class="add-button add-button-sm">
							<span>+</span>
						</div>
					</a>
				</div>

				<div ng-class="{ 'watch-iframe' : item.stream == 'watch', 'listen-iframe' : item.stream == 'listen' }" iframely url="{{ item.url }}" ng-if=" item.stream != 'read' "></div>
				
				<div class="item-preview">
					<span class="item-preview-image" ng-if=" item.stream == 'read' ">
						<div class="dropdown admin-dropdown" ng-if=" role == 'admin' ">
							<button class="btn btn-green-solid btn-xs dropdown-toggle" type="button" id="admin-edit-thumbnail-dropdown" data-toggle="dropdown">
								Edit thumbnail
							</button>
							<ul class="dropdown-menu" aria-labelledby="admin-edit-thumbnail-dropdown">
								<li ng-repeat=" image in item.images track by $index">
									<img ng-src="{{ image.thumb }}" alt="" style="width: 200px; height: auto; " class="cursor-pointer" ng-click="adminEditThumb( { item: item, thumbnail: $index } )">
								</li>
							</ul>
						</div>

						<img ng-click="openReaderModal( item )" ng-src="{{ item.images[0].thumb }}" class="stream-article-image cursor-pointer col-md-3 col-xs-12 no-padding" ng-show=" item.stream == 'read' " ng-hide=" item.thumbnail ">

						<img ng-click="openReaderModal( item )" ng-src="{{ item.images[ item.thumbnail ].thumb }}" class="stream-article-image cursor-pointer col-md-3 col-xs-12 no-padding" ng-show=" item.stream == 'read' " ng-show=" item.thumbnail ">
					</span>					

					<div class="item-description col-xs-12 no-padding" ng-class="{ 'col-md-8' : item.stream == 'read', 'col-md-12' : item.stream != 'read' }">

						<span ng-hide=" item.stream == 'listen' "><span ng-bind="item.description | stripTags | limitTo: 260"></span> ...</span>

						<div class="clearfix"></div>

					</div>
					<div class="clearfix"></div>
				</div>

				<div class="content-tags col-xs-12 no-padding" ng-if=" mode == 'mystream' ">
					<tags-input 
						ng-model="item.tags" 
						on-tag-added="tagAdded( $tag, item._id )"
						on-tag-removed="tagRemoved( $tag, item._id )"
						class="no-padding"
						remove-tag-symbol="X">
					</tags-input>
				</div>

				<div class="clearfix"></div>

				<div class="date-added-ago pull-left meta-text col-md-12 no-padding hidden-xs">
					<div ng-include="'meta-text.html'"></div>
				</div>

				<div class="share-links col-xs-offset-6">
					<button ng-show="role == 'admin'" class="btn btn-grey no-border" ng-click="openReaderModal( item )"><span class="glyphicon glyphicon-book cursor-pointer"></span></button>

					<ng-include src="'app/views/menu-share.html'"></ng-include>

					<span class="dropdown user-menu">
					  <button class="btn dropdown-toggle no-border btn-grey" type="button" id="item-options" data-toggle="dropdown" aria-expanded="true">
					    <span class="glyphicon glyphicon-option-horizontal glyphicon-grey"></span>
					    <span class="sr-only">
							Toggle Item Options Menu
						</span>
					  </button>
					  
					  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="item-options">
					    <li role="presentation" ng-hide=" mode != 'mystream' ">
					    	<a role="menuitem" tabindex="-1" ng-click="deleteItem( currentStream, item._id ); hideItem=true" class="cursor-pointer"><span class="glyphicon glyphicon-trash"></span>  Delete post</a>
					    </li>
					    <li role="presentation">
					    	<a href="{{ item.url }}" target="_blank" class="cursor-pointer"><span class="glyphicon glyphicon-link"></span> Open original</a>
					    </li>
					    <li role="presentation" ng-show=" mode == 'mystream' && !item.private ">
					    	<a ng-click="togglePrivate( item )" class="cursor-pointer"></span><span class="glyphicon glyphicon-lock"></span> Make private</a>
					    </li>
					    <li role="presentation" ng-show=" mode == 'mystream' && item.private ">
					    	<a ng-click="togglePrivate( item )" class="cursor-pointer"></span><span class="glyphicon glyphicon-eye-open"></span> Make public</a>
					    </li>
					    <!-- Admin options -->
					    <li role="presentation" ng-show=" role == 'admin' ">
					    	<a ng-click="goToSinglePost( item )" class="cursor-pointer"><span class="glyphicon glyphicon-flag"></span> Go to single post</a>
					    </li>
					    <li role="presentation" ng-show=" role == 'admin' ">
					    	<a ng-click="flag( { item: item, flag: 'hidden' } )" class="cursor-pointer"><span class="glyphicon glyphicon-ban-circle"></span> Flag hidden</a>
					    </li>
					    <li role="presentation" ng-show=" role == 'admin' ">
					    	<a ng-click="flag( { item: item, flag: 'adult' } )" class="cursor-pointer"><span class="glyphicon glyphicon-flag"></span> Flag adult</a>
					    </li>
					  </ul>
					</span>

					<div class="add-container visible-xs mobile" ng-hide="  mode == 'mystream' ">
						<a href="" ng-click="addContent( item.url )" alt="Add to your own stream">
							<div class="add-button add-button-sm">
								<span>+</span>
							</div>
						</a>
					</div>
				</div>
				
				<div class="clearfix"></div>
			</div>


		</div>

		<div ng-show=" userlist.length > 0 ">
			<div class="panel panel-item panel-user" ng-repeat="user in userlist">
				<div class="col-xs-6">
					<a ui-sref="app.stream({ username: user.username })" ui-sref-opts="{ reload: true }"><h3 ng-bind="user.username"></h3></a>
				</div>
				<div class="col-xs-6">
					<button-follow username="{{ user.username }}"></button-follow>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>

	</div>

</div>

<!-- Templates -->

<script type="text/ng-template" id="meta-text.html">
	<div class="col-meta-item">
		<span ng-bind="item.added | timeAgo"></span>
	</div>

	<div class="col-meta-item">
		<span ng-if=" mode == 'discover' || mode == 'following' ">
		Saved by <a ui-sref="app.stream({ username: item.user.username, stream: currentStream, mode: 'stream' } )" ui-sref-opts="{ reload: true }" ng-bind="item.user.username" class="cursor-pointer a-underlined"></a>
	</div>

	<div class="col-meta-item" ng-show=" item.saveCount >= 2 && mode == 'discover' ">
		and <span ng-bind="item.saveCount - 1"></span> other<span ng-show="item.saveCount > 2">s</span>
	</span>
	</div>
	
	<span ng-show="item.private" class="glyphicon glyphicon-lock"></span>
</script>