@import '../theme/variables.scss';

.Item {
  background: #FAFAFA;
  width: 300px;
  padding: 20px;
  margin-bottom: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
}

.title {
  flex-grow: 1;
}

.latestContainer {
  display: flex;
  justify-content: flex-end;
}

.latest {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #FF373E;
  position: absolute;
  margin-top: -15px;
  margin-left: -35px;
}

.timeAgo {
  color: $darker-grey;
}

.meta {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.actions {
  display: flex;
  flex-direction: row;
}
